body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.k9 .ref {
  color: red;
}

.k9 .grey {
  color: grey;
}

.k9 .lit {
  color: yellow;
}

.k9 .comment {
  color: darkgray;
}
